.resultCard {
    max-width: 320px;
    margin: auto;
    border: 1px solid #0d47a1;
    padding: 8px;
    margin: 5px auto;
}

.resultCard > img {
    width: 90%;
    margin: auto;
}

.resultButtons {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    gap: 5px;
    justify-content: space-between;
}

.resultButtons a {
    text-decoration: none;
}